API_URL="http://localhost:8080"
BASE_URL="http://localhost:3000"
PG_PASSWORD=password
PG_USER=postgres
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=linksaver_db
PG_URL="postgres://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}"
TZ="UTC"
JWT_SECRET=

VITE_API_URL="${API_URL}"
VITE_TZ="${TZ}"